@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 60px;
}
header h1 {
    font-size: 40px;
    color: rgba(255, 83, 0, 1);
}
header h1 span {
    color: black;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
header nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}
header img:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* First section */
.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px;
    background-color: rgba(255, 247, 244, 1);
}
.sec1-left {
    width: 35%;                                     /* WIDTH */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec1-left h1 {
    font-size: 48px;
}
.sec1-left h1 span {
    color: rgba(255, 83, 0, 1);
}
.sec1-left p {
    font-size: 16px;
    color: rgba(123, 123, 123, 1);
}
.sec1-left button {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 83, 0, 1);
    color: aliceblue;
    box-shadow: 4px 5px 5px rgba(255, 83, 0, 1);
    border: none;
    font-size: 20px;
}

/* Second part */
.sec2 {
    background-color: white;
}
    /* The bottom part */
.bot-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 40px;
}
.box-sec2 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    padding: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 0.4px solid #f1f1f1;
}
.box-sec2 p {
    font-size: 18px;
    text-align: center;
}

/* Third part */

.right-sec3 {
    width: 55%;                /*WiDTH */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.right-sec3-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;                            /* WIDTH */
    padding: 60px 30px;
    background-color: white;
    text-align: center;
    width: 30%;
}
.right-sec3-card h1 {
    font-size: 48px;
}
.right-sec3-card p {
    color: rgba(123, 123, 123, 1);
    font-size: 20px;
}

/* Fourth section */
.sec4 {
    margin: 30px;
    padding: 60px;
}
.sec4 p {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.sec4 h1 {
    font-size: 40px;
    text-align: center;
}
.sec4 h1 span {
    color:rgba(255, 83, 0, 1);
}

    /* People cards */
.people {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0.5px solid #f1f1f1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
}

/* Fifth section */
.sec5 {
    margin: 30px 0;
    padding: 60px;
    background-color: rgba(255, 247, 244, 1);
}
.sec5 p {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.sec5 h1 {
    font-size: 40px;
    text-align: center;
}
.sec5 h1 span {
    color:rgba(255, 83, 0, 1);
}
.sec5-left {
    padding: 15px 40px;
    width: 33%;                             /*WIDTH */
    color: aliceblue;
    background-color: rgba(255, 83, 0, 1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sec5-left h1 {
    font-size: 25px;
    text-align: left;
}
.sec5-left p {
    font-size: 16px;
    color: aliceblue;
    text-align: left;
}
.sec5-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

/* Sixth section */
.sec6 {
    margin: 30px 0;
    padding: 60px;
}
.sec6 p {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.sec6 h1 {
    font-size: 40px;
    text-align: center;
}
.sec6 h1 span {
    color:rgba(255, 83, 0, 1);
}
    /* Card */

.total-sec6-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}
.sec6-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 40%;
    padding: 15px;
    border: 0.5px solid #f1f1f1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.top-sec6-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-in-sec6-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 59%;
}
.top-in-sec6-card span {
    color: rgba(255, 83, 0, 1);
    font-size: 16px;
}
.top-in-sec6-card h2 {
    font-size: 25px;
}
    /* Bottom part */
.sec6-card-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
}
.bottom-in-sec6-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottom-in-sec6-card p {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}
.bottom-in2-sec6-card {
    display: flex;
    gap: 10px;
}
.bottom-in2-sec6-card span {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
}

/* Seventh part */
.sec7 {
    margin: 30px 0;
    padding: 60px;
}
.sec7-top p {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
    text-align: center;
    padding-bottom: 25px;
}
.sec7-top h1 {
    font-size: 40px;
    text-align: center;
}
.sec7-top h1 span {
    color:rgba(255, 83, 0, 1);
}
    /* Cards */
.sec7-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.seven-card {
    width: 30%;                              /*WIDTH */
    padding: 15px;
    border: 0.5px solid #f1f1f1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.seven-card-top {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.seven-card-dis {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seven-card-dis h3 {
    color: rgba(255, 83, 0, 1);
    font-size: 25px;
}
.seven-card-dis h2 {
    font-size: 32px;
}
.seven-card a {
    color: rgba(123, 123, 123, 1);
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}
.seven-card-num {
    display: flex;
    gap: 20px;
}
.seven-card-num p {
    color: rgba(255, 83, 0, 1);
    font-size: 20px;
    font-weight: 500;
}
.seven-card3 {
    gap: 0;
    padding: 25px;
}
.seven-card-top3 {
    padding-bottom: 30px;
}
.sec7-botm {
    margin: 50px 0;
    margin-bottom: 20px;
}

    /* INput place */
.input-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}
.input-line input {
    width: 330px;
    padding: 20px 10px;
    background-color: white;
    border: 0.5px solid #f1f1f1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 5px;
}
.input-line input::placeholder {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
}
.txt {
    min-width: 700px;
    max-width: 700px;
    min-height: 163px;
    max-height: 163px;
    padding: 20px 10px;
    background-color: white;
    border: 0.5px solid #f1f1f1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 5px;
}
.txt::placeholder {
    color: rgba(123, 123, 123, 1);
    font-size: 16px;
}
.txt2 {
    flex-direction: column;
}
.input-line button {
    width: 720px;
    padding: 15px;
    color: white;
    background-color: rgba(255, 83, 0, 1);
    box-shadow: 3px 3px 3px rgba(255, 83, 0, 1);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* Part eight */

.sec8 {
    margin: 30px 0;
    padding: 60px;
}
.sec8-img1 {
    width: 100%;
}
.sec8-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}



.block {
    display: none;
}
@media (max-width: 510px) {
    .hidden {
        display: none;
    }
    .block {
        display: block;
    }

    /* Header */
    header {
        padding: 10px 60px;
        justify-content: space-between;
    }

    /* First part */
    .sec1 {
        flex-direction: column-reverse;
        gap: 50px;
        padding: 40px 20px;
        margin-bottom: 40px;
    }
    .sec1-left {
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .sec1 img {
        width: 90%;
    }

    /* Second part */
    .sec2 {
        flex-direction: column;
    }
        /* Bottom part */
    .bot-sec2 {
        flex-direction: column;
    }
    .box-sec2 {
        width: 90%;
    }
    .box-sec2 p {
        font-size: 30px;
        font-weight: 500;
    }

    /* Third section */
    .sec3 {
        flex-direction: column;
    }
    .right-sec3 {
        width: 90%;
    }
    .right-sec3-card {
        width: 90%;
    }

    /* Fourth section */
    .sec4 {
        margin: 20px 0;
        padding: 30px;
    }
    .people {
        width: 100%;
        overflow: auto;
        gap: 30px;
    }
    .person-card {
        min-width: 100%;
    }

    /* Fifth section */
    .sec5 {
        padding: 30px;
        margin: 20px 0;
    }
    .sec5-cards {
        width: 100%;
        overflow: auto;
        gap: 20px;
    }
    .sec5-left {
        min-width: 80%;
    }

    /* Sixth section */
    .sec6 {
        padding: 30px;
        margin: 20px 0;
    }
    .total-sec6-cards {
        width: 100%;
        overflow: auto;
        gap: 20px;
    }
    .sec6-card {
        min-width: 90%;
    }
    .sec6-card img {
        width: 120px;
        height: 120px;
    }

    /* Seventh part */
    .sec7 {
        padding: 30px;
        margin: 20px 0;
    }
    .sec7-cards {
        /* width: 100%; */
        flex-direction: column;
        gap: 20px;
    }
    .seven-card {
        min-width: 90%;
    }
        /* Input part */
    .input-line {
        flex-direction: column;
    }
    .input-line input {
        width: 90%;
    }
    .txt {
        min-width: 90%;
        max-width: 90%;
    }
    .txt2 button {
        width: 40%;
    }

    /* Part eight */
    .sec8 {
        padding: 30px;
        margin: 20px 0;
    }
    .sec8-img2 {
        width: 100%;
    }
    .sec8-img img {
        width: 20%;
    }
}